body { background-color: #ffffff;
      color: #221811;
       font-family:Verdana;
}
#wrapper{background-color: #f0f0f0;
         margin-left: auto;
         margin-right: auto;
         width:90%;
}
header{ background-color :#003366;
         color: #aec3e3;
          font-family:Georgia;
}
h1{line-height: 200%;
text-indent: 1em;}
h2{font-size: 1.2em;}
nav{ font-weight: bold;}
dt {
color: #5280C5;
font-family:Georgia;      
font-size: 1.1em;
font-weight: bold;      
}      
.category {
color: #5380C5;
font-family:Georgia;
font-weight: bold;      
}      
footer{ 
   font-size: .60em;
   font-style: italic;
}
